.heart {
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 500px;

  animation: heart 1s steps(1, end) infinite;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
